<% include ./partials/header.ejs%>
  <div class="grid place-items-center ">
    <div class="w-52 px-4 py-4 mt-40 h-68 rounded-xl" style=" box-shadow: 1px 1px 5px 3px rgb(192, 4, 189); ">
      <form action="/login" method="post">
        <div class="w-16 h-16 mb-4 overflow-hidden  ml-14 pt-1"
          style="border-radius: 50% ;  box-shadow: 2px 2px 6px 1px rgb(192, 4, 189);">
          <img src="https://cdn.pixabay.com/animation/2023/07/01/12/25/12-25-50-208_512.gif" alt="">
        </div>
        <input required type="text" name="username" placeholder="Username"
          class="rounded-xl my-3.5 w-52  text-black font-md  border-0 py-1 px-4 h-6"
          style="outline: none;  box-shadow: 1px 1px 5px 3px rgb(192, 4, 189)">
        <input required type="password" name="password" placeholder="Password"
          class="rounded-xl my-3.5 w-52  text-black font-md border-0 py-1 px-4 h-6"
          style="outline: none;  box-shadow: 1px 1px 5px 3px rgb(192, 4, 189)">
        <button type="submit" class="rounded-xl text-white  mt-2 w-44 text-black font-md border-0  h-5"
          style="outline: none; background-color: rgb(1, 150, 1);  box-shadow: 1px 1px 5px 1px rgb(0, 188, 240);">
          <p>LogIn</p>
        </button>
      </form>
      <p class="text-sm pt-1 pl-2">if new user ? <a href="/">CreateAccount</a></p>

    </div>
  </div>
  <% include ./partials/header.ejs%>